.start{
	background-color: #f5ebf5;
	width: 800px;
	margin: 50px auto 0 ;
	font-weight: 20px;
	text-transform: uppercase;
	text-align: center;
}

.img {
	width: 500px;
	height: 283px;
	margin: auto;
}

img{
	width: 100%;
}

span{
	color: #9f1c1c;
	font-weight: 30px;
}

.decision{
	width: 140px;
	height: 140px;
	margin: 0 20px 0 20px;
	float: left;
	cursor: pointer;
}

.decision img{
	height: 100%;
}

.choices{
	display: table;
	margin: 50px auto;
}

.dontPlay{
	width: 800px;
	margin:auto;
	background-color: #ccc;
	text-align: center;
}

.fifa {
	width: 500px;
	margin: auto;
}

.play{
	width: 800px;
	margin:auto;
	background-color: #ccc;
	text-align: center;
	text-transform: uppercase;
}

.bank {
	width: 500px;
	margin: auto;

}

.next {
	width: 230px;
	text-align: center;
	margin: auto;
	cursor: pointer;
}

.next img {
	width: 100%;
}

.assault {
	width: 800px;
	margin:auto;
	background-color: #ccc;
	text-align: center;
	text-transform: uppercase;
}

.thief {
	width: 500px;
	margin: auto;
}

.thief img {
	width: 100%;
}

.weapons {
	width: 800px;
	margin:auto;
}

.item {
	width: 33%;
	float: left;
	cursor: pointer;
}

.item img {
	height: 230px;
}